@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


::-webkit-scrollbar {
    width: .5em;
    /* height: 500px; */
}

::-webkit-scrollbar-track {
    box-shadow: inset 2px 2px 5px var(--background-clr);
    /* border-radius: 10px; */
    /* margin-block: 100px; */
    background-color: var(--background-clr);
}

::-webkit-scrollbar-thumb {
    background: #244662;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #32495d;
}


:root {
    --background-clr: #223341;
    --text-clr: #ffae31;
    --light-backg: #28445b;
}

.Orange-txt {
    color: var(--text-clr);
}

header {
    background-color: var(--background-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

}

header h1 {
    text-align: center;
    color: white;
    padding: 20px;
}

.lnk {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.lnk a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;

}

.lnk a:hover {
    color: var(--text-clr);
}

body {
    background-image: url(pictures/weightlifting22.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
    background-position: 100% 70%;

    position: relative;

    overflow-x: hidden;

}

.overlay-clr {
    position: absolute;
    top: 70px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, #223341 30%, #ffad312b 100%, rgba(255, 255, 255, 0) 200%);
    z-index: -10;
}

.main-content {
    background-color: white;
    height: 750px;
    width: 75%;
    margin: 100px auto 50px auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 10px solid var(--background-clr);
    position: relative;

}

.maincontent-header {
    position: sticky;
    top: 0;

    height: 200px;
    width: 100%;
    background-color: var(--light-backg);
    transition: 0.3s ease;
    z-index: 1;

}

.container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: -10;
}

.info-container {
    height: auto;
    padding: 30px;

    width: 100%;

}


.img-label input {
    display: none;
}

.maincontent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-content-hdr img {
    height: 100%;
    width: 50%;
    z-index: -1;
}

.inside-content-hdr {
    position: relative;
    height: 200px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.inside-content-hdr h2 {
    color: white;
    margin-right: 10%;
}

.inside-content-hdr label {
    position: absolute;
    bottom: 10px;
    left: 45%;
    background-color: var(--light-backg);
    font-size: 1.1rem;
    color: white;
    padding-right: 10px;
    border-radius: 10px 0px 0px 10px;
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    transition: 1s ease;
    /* width: 0px; */


}


.inside-content-hdr label:hover {
    visibility: visible;
    left: 26%;
    display: flex;
    width: fit-content;
    cursor: pointer;
}

.img-label::before {
    content: "\002B";
    display: inline;
    font-size: larger;
    visibility: visible;
    background-color: var(--light-backg);
    padding: 10px;
    border-radius: 10px 0px 0px 10px;

}

.img-label::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    width: 75%;
    height: 100%;

    background-color: var(--light-backg);
    transition: 1s ease;

}

.img-label:hover::after {
    right: -100px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 10px;

}

.info-header {
    background: var(--background-clr);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.info-body {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
    font-size: 1.2rem;
    font-weight: bolder; */
    /* width: 100%; */

}

.edit-data {
    color: white;
    background-color: var(--background-clr);
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.3s ease;
}

.edit-data:hover {
    color: var(--text-clr);
    cursor: pointer;
}

.t-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-body {
    width: 100%;
}

table {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
    padding: 10px;


}


th {
    text-align: left;
}

.change-btn {
    background: var(--light-backg);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    transition: 0.3s ease;
}

.change-btn:hover {
    color: var(--text-clr);
}

.change-btn::after {
    content: "\2192";
    margin-left: -10px;
    transition: 0.5s ease;
    opacity: 0;

}

.change-btn:hover::after {
    content: "\2192";
    margin-left: 5px;
    opacity: 1;
}



.body-container {
    display: grid;
    width: 100%;


    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;



}

.info h3 {
    color: var(--text-clr);
}

.info {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    height: 200px;
    padding: 0px;
    background-color: var(--light-backg);
    padding: 20px;
    border-radius: 10px;
    /* border: 1px solid black; */
}

p {

    font-weight: bold;

}

#info-prog {
    display: flex;

    justify-content: space-between;
    align-items: flex-end;
    padding: 100px;
    background-color: var(--light-backg);
    border-radius: 10px;
    color: white;
}

.progress {
    height: 20px;
    /* border: 1px solid black; */
    width: 300px;

}

.progress-container {
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: white;
    transition: 1s ease-in-out;
    border-radius: 5px;
}

.precentage {
    transition: 1s ease;
    font-weight: bolder;
}

.precentage::after {
    content: "\0025";
}

#achievements-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#logos-container {
    width: 100%;
}