@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');


:root {
    --background-clr: #223341;
    --text-Clr: #ffae21;
}

.Orange-txt {
    color: var(--text-Clr);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    overflow-x: hidden;
    height: auto;
}

.first-section {
    background-image: url(pictures/squatting.jpg);
    background-size: 160%;
    background-position: center;
    height: 50vh;

    background-color: var(--background-clr);
    background-blend-mode: overlay;
    background-attachment: fixed;

}

@keyframes slide-up {
    0% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(-60px);
    }
}

.second-section {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, 0.5fr);

    background-color: white;
    box-shadow: 0px 0px 50px 10px #22334146;
    /* border: px solid var(--background-clr); */
    position: sticky;
    /* top: 120px; */
    height: fit-content;

    padding: 20px;
    border-radius: 5px;
    z-index: 10;


    animation: slide-up 1s ease forwards;
    opacity: 0;
}

.user-image {
    grid-column: 1;
    grid-row: 1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid var(--text-Clr);
}

.user-name {
    grid-column: 2/span 3;

    grid-row: 1;
    font-size: 1.2rem;


}


.search-bar-frm {
    grid-row: 2;
    grid-column: 2 / span 3;
    width: 100%;
}

.search-bar-frm input {
    width: 100%;
}

.posting-btn {
    grid-column: 5;
    grid-row: 3;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--background-clr);
    color: white;
    transition: 0.3s ease;


}

.posting-btn:hover {
    color: var(--text-Clr);
    cursor: pointer;
}

.uploading-images-vids input {
    display: none;
}

.uploading-images-vids {
    grid-column: 3/span 4;
    grid-row: 3;
    font-size: 0.9rem;
    word-spacing: 10px;
    /* border-bottom: 2px solid var(--background-clr); */
}

.search-bar-frm input {
    height: 50px;
    border: none;
    padding: 20px;
    border-radius: 5px;
    background-color: #2233412a;

}

.search-bar-frm input:focus {
    border: none;
    outline: none;
    background-color: #2233412a;
}

.search-bar-frm input::placeholder {
    font-size: 0.9rem;
    /* font-weight: bold;
     */
    text-align: center;
}

.third-section {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-block: 50px;

}

.subsection-one {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0px;
    width: 20%;
    box-shadow: 0px 0px 70px 20px #2233410e;
    height: 60vh;
    /* width: ; */
    transform: translateX(-310px);
    z-index: 10;
    transition: 0.5s ease-in-out;
    /* border-right: 1px solid var(--background-clr); */
}

.friends-header {
    width: 100%;
    text-align: center;
    background-color: var(--background-clr);
    color: white;
    padding: 10px;

}

.friends-menu {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 70px 20px #2233410e;

}

.friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;

    margin: auto;
    transition: 0.3s ease;

}

.friend:hover {
    cursor: pointer;
    background-color: #2233412a;
}

.friend img {
    border: 4px solid green;
    border-radius: 50%;

}

.friend:nth-child(4) img {
    border: 4px solid green;
    /* border-radius: 50%; */

}



.status {
    text-align: right;
    font-size: 0.9rem;
}

.friends-footer {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    background-color: white;
    border-bottom: 2px solid var(--background-clr);
    border-right: 2px solid var(--background-clr);
}

.add-friend {
    padding: 10px 20px;
    color: white;
    background-color: var(--background-clr);
    border-radius: 5px;
    transition: 0.3s ease;
}

.add-friend:hover {
    color: var(--text-Clr);
    cursor: pointer;
}

.btn-style {
    background: transparent;
    border: none;
    position: relative;
    transition: 0.3s ease;

}

.btn-style:hover {
    color: var(--text-Clr);
    cursor: pointer;
}


.btn-style::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--text-Clr);
    width: 0%;
    left: 0;
    transition: 0.3s ease;
    bottom: 0;
}

.btn-style:hover::before {
    width: 100%;
}

.friends-open {
    position: fixed;
    top: 350px;
    margin-left: 0px;
    background-color: var(--background-clr);
    padding: 10px;
    color: white;
    border-radius: 0 5px 5px 0;
    font-size: 1.1rem;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

}

.friends-open:hover {
    color: var(--text-Clr);
    cursor: pointer;
}

.open-btn-animate {
    animation: open-list 800ms ease-in-out forwards;
}

@keyframes open-list {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(300px);
    }
}

.sub-sect-animate {
    animation: open-menu 800ms ease-in-out forwards;
}

@keyframes open-menu {
    0% {
        transform: translateX(-303px);
    }



    100% {
        transform: translate(0px);
    }
}

.plus {
    transition: 0.8 ease-in-out;
    rotate: 0deg;
}

.rotate {
    animation: rotate 800ms ease-in-out forwards;


}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 45deg;
        color: red;
    }
}


.subsection-two {
    width: 80%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
    border-radius: 5px;
    gap: 15px;
    height: 100%;
}

.time-line {
    background-color: var(--background-clr);
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    font-size: 2rem;

}

.timeline {
    grid-column: 1/span 3;
    box-shadow: 0px 0px 70px 20px #2233410e;
}

.marketplace-heading {
    background-color: var(--background-clr);
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    font-size: 2rem;
}

.marketplace-body {
    position: relative;
    padding: 20px;
    height: 50%;
    display: flex;

}

.gears {
    position: absolute;
    top: 20%;
    left: 15%;
    opacity: 0;
    animation: fade 8s infinite ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#gear-1 {
    animation-delay: 3s;
}

#gear-2 {
    animation-delay: 5s;
}

#gear-3 {
    animation-delay: 7s;
}

#gear-4 {
    animation-delay: 9s;
}

.container {
    height: 50vh;

}

.marketplace {
    box-shadow: 0px 0px 70px 20px #2233410e;
    padding-bottom: 30px;
    border-radius: 5px;
}

.merc-btn {
    text-decoration: none;
    font-size: 1.3rem;
    position: relative;
    font-weight: bold;
    color: var(--background-clr);
    transition: 0.3s ease;
    opacity: 0.7;
}

.merc-btn:hover {
    color: #ffae41;

}

.merc-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: var(--text-Clr);
    transition: 0.3s ease;
}

.merc-btn:hover::before {
    width: 100%;
}

.errMsg {
    position: absolute;
    left: 10px;
    bottom: 10px;
}